# Python
venv/
__pycache__/
*.pyc

# ROS 2 / colcon
build/
install/
log/

# VSCode
.vscode/

# Data sementara
*.csv
*.xlsx
!gps_data.csv

# Artefak runtime ArduPilot / SITL / MAVProxy
logs/
*.BIN
LASTLOG.TXT
eeprom.bin
mav.parm
mav.tlog
mav.tlog.raw
sitl/logs/*

# Plugin Gazebo hasil kompilasi
gazebo_sim/plugin/build/
